<!DOCTYPE html>
<html lang="en" data-theme="pastel">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AcademyApp</title>
    <link rel="icon" type="image/png" href="~/img/icon/icon.png" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.22/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="navbar bg-base-100 flex justify-between">
        <div>
            <a asp-controller="Home" asp-action="Index" class="btn btn-ghost text-xl">
                <img src="~/img/icon/icon.png" alt="" class="w-5" />
                AcademyApp
            </a>
        </div>
        <div>
            <ul class="menu menu-horizontal px-1">
                @if (User.Identity!.IsAuthenticated)
                {
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a asp-controller="Categories" asp-action="Index"
                                class="hover:bg-primary border-b-2 border-primary me-3">Category</a></li>
                        <li><a asp-controller="Courses" asp-action="Index"
                                class="hover:bg-primary border-b-2 border-primary me-3"> Course</a></li>
                        <li><a asp-controller="Users" asp-action="Index"
                                class="hover:bg-primary border-b-2 border-primary me-3">User</a></li>
                        <li><a asp-controller="Instructors" asp-action="Index"
                                class="hover:bg-primary border-b-2 border-primary me-3">Instructor</a></li>
                        <li><a asp-controller="Students" asp-action="Index"
                                class="hover:bg-primary border-b-2 border-primary me-3">Student</a></li>
                        <li><a asp-controller="Enrollments" asp-action="Index"
                                class="hover:bg-primary border-b-2 border-primary">Enrollment</a></li>
                    }
                    else if (User.IsInRole("Instructor"))
                    {
                        <li>
                            <a asp-controller="Courses" asp-action="Index" class="hover:bg-primary border-b-2 border-primary">
                                Course
                            </a>
                        </li>
                        <label class="input input-bordered w-[750px] h-10 flex items-center ms-10">
                            <input type="text" class="grow" placeholder="Search" />
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                class="h-4 w-4 opacity-70">
                                <path fill-rule="evenodd"
                                    d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </label>
                    }
                    else if (User.IsInRole("Student"))
                    {
                        <div class="flex items-center">
                            <li>
                                <a asp-controller="Courses" asp-action="List"
                                    class="hover:bg-primary border-b-2 border-primary">
                                    <i class="fa-solid fa-graduation-cap"></i>All Courses
                                </a>
                            </li>
                            <label class="input input-bordered w-[450px] h-10 flex items-center ms-5">
                                <input type="text" class="grow" placeholder="Search" />
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                    class="h-4 w-4 opacity-70">
                                    <path fill-rule="evenodd"
                                        d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                                        clip-rule="evenodd" />
                                </svg>
                            </label>
                        </div>
                    }
                }
                else
                {
                    <div class="flex items-center">
                        <li>
                            <a asp-controller="Courses" asp-action="List"
                                class="hover:bg-primary border-b-2 border-primary">
                                <i class="fa-solid fa-graduation-cap"></i>All Courses
                            </a>
                        </li>
                        <label class="input input-bordered w-[450px] h-10 flex items-center ms-5">
                            <input type="text" class="grow" placeholder="Search" />
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                class="h-4 w-4 opacity-70">
                                <path fill-rule="evenodd"
                                    d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </label>
                    </div>
                }
            </ul>
        </div>
        <div>
            <ul class="menu menu-horizontal px-1 flex items-center z-40">
                @if (User.Identity!.IsAuthenticated)
                {
                    <ul class="menu menu-horizontal px-1">
                        <li>
                            <details>
                                <summary class="border-b-2 border-primary w-40">@User.Identity.Name</summary>
                                <ul class="w-full border p-2">
                                    <li>
                                        <a asp-controller="Users" asp-action="Profile">
                                            <i class="fa-regular fa-user"></i>Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Enrollments" asp-action="MyCourses">
                                            <i class="fa-solid fa-play"></i>My Courses
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Users" asp-action="Logout">
                                            <i class="fa-solid fa-arrow-right-from-bracket"></i>Logout
                                        </a>
                                    </li>
                                </ul>
                            </details>
                        </li>
                    </ul>
                }
                else
                {
                    <li><a asp-controller="Users" asp-action="Login" class="border-b-2 border-primary me-3">Login</a>
                    </li>
                    <li><a asp-controller="Users" asp-action="Register"
                            class="btn btn-primary w-[125px] border-b-2 border-primary">Register</a>
                    </li>
                }
            </ul>
        </div>
    </nav>


    <div class="container mx-auto px-12 py-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-primary text-base-content p-20 mt-[5%]">
        <nav>
            <h6 class="footer-title">Services</h6>
            <a class="link link-hover">Branding</a>
            <a class="link link-hover">Design</a>
            <a class="link link-hover">Marketing</a>
            <a class="link link-hover">Advertisement</a>
        </nav>
        <nav>
            <h6 class="footer-title">Company</h6>
            <a class="link link-hover">About us</a>
            <a class="link link-hover">Contact</a>
            <a asp-controller="Courses" asp-action="List" class="link link-hover">Courses</a>
        </nav>
        <nav>
            <h6 class="footer-title">Our Projects</h6>
            <a href="https://github.com/onuraydinoglu/AcademyApp" class="link link-hover" target="_blank">AcademyApp</a>
            <a href="https://github.com/nisanurisik/BusinessApp" class="link link-hover" target="_blank">BusinessApp</a>
        </nav>
        <form>
            <h6 class="footer-title">Newsletter</h6>
            <fieldset class="form-control w-80">
                <label class="label">
                    <span class="label-text">Enter your email address</span>
                </label>
                <div class="join">
                    <input type="text" placeholder="username@site.com" class="input input-bordered join-item" />
                    <button class="btn btn-primary join-item">Subscribe</button>
                </div>
            </fieldset>
        </form>
    </footer>
    <footer class="footer footer-center bg-primary text-base-content p-4">
        <aside>
            <p>Copyright ©2025 - All right reserved by ONI Industries Ltd</p>
        </aside>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
