<!-- Breadcrumbs -->
<div class="breadcrumbs text-sm mb-5">
    <ul>
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    </ul>
</div>