@model Course

<form asp-controller="Courses" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="flex justify-center">
        <div class="w-[750px]">
            <input type="hidden" asp-for="Id" />

            <label class="form-control my-4">
                <div class="label">
                    <span class="label-text">Title</span>
                </div>
                <input asp-for="Title" type="text" placeholder="Course name" class="input input-bordered" />
            </label>

            <label class="form-control my-4">
                <div class="label">
                    <span class="label-text">Description</span>
                </div>
                <textarea asp-for="Description" class="textarea textarea-bordered h-24"
                    placeholder="Course Description"></textarea>
            </label>

            <label class="form-control my-4">
                <div class="label">
                    <span class="label-text">
                        <span class="label-text">Hours</span>
                    </span>
                </div>
                <input asp-for="Hours" type="text" placeholder="Course Title" class="input input-bordered" />
            </label>

            <label class="form-control w-full max-w-xs">
                <div class="label my-4">
                    <span class="label-text">Level</span>
                </div>
                <select asp-for="LevelId" asp-items="ViewBag.Levels" class="select select-bordered">
                    <option disabled selected>Select Level</option>
                </select>
            </label>

            <label class="form-control w-full max-w-xs">
                <div class="label my-4">
                    <span class="label-text">Category</span>
                </div>
                <select asp-for=CategoryId asp-items="ViewBag.Categories" class="select select-bordered">
                    <option disabled selected>Pick one</option>
                </select>
            </label>

            <label class="form-control w-full max-w-xs">
                <div class="label my-4">
                    <span class="label-text">Instructor</span>
                </div>
                <select asp-for=InstructorId asp-items="ViewBag.Instructors" class="select select-bordered">
                    <option disabled selected>Pick one</option>
                </select>
            </label>

            <button type="submit" class="btn btn-primary my-4 w-full">Update</button>
        </div>
    </div>
</form>
