@model IEnumerable<Student>

<div class="flex justify-between items-center mt-5">
    <div>
        <h2>Course List</h2>
    </div>

    <div>
        <a asp-controller="Students" asp-action="Create" class="btn btn-primary">Add Student</a>
    </div>
</div>
<div class="divider"></div>

<div class="flex justify-center">
    <div class="w-[750px]">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr class="hover">
                        <th>@student.Id</th>
                        <td>@student.FullName</td>
                        <td>@student.Email</td>
                        <td>
                            <a asp-controller="Students" asp-action="Edit" asp-route-id="@student.Id"
                                class="btn btn-sm btn-warning">Edit</a>
                            <button class="btn btn-sm btn-error" onclick="my_modal_@(student.Id).showModal()">
                                Delete
                            </button>

                        </td>
                    </tr>
                    @await Html.PartialAsync("_Delete", student)
                }
            </tbody>
        </table>
    </div>
</div>