@model Category

<form asp-controller="Categories" asp-action="Create" method="post">
    <div class="mt-5 w-[50%] mx-auto space-y-4 h-[73vh]">
        <label class="input input-bordered flex items-center gap-2">
            <i class="fa-solid fa-layer-group"></i>
            <input asp-for="Name" type="text" class="grow" placeholder="Category Name" />
        </label>
        <span asp-validation-for="Name" class="text-red-500 text-sm"></span>

        <div>
            <button type="submit" class="btn btn-primary w-full">Add Category</button>
        </div>
    </div>
</form>