@model Category

<form asp-controller="Categories" asp-action="Create" method="post">
    <div class="flex justify-center">
        <div class="w-[750px]">
            <label class="form-control my-4">
                <div class="label">
                    <span class="label-text">Name</span>
                </div>
                <input asp-for="Name" type="text" placeholder="Category Name" class="input input-bordered" />
            </label>
            <button type="submit" class="btn btn-primary w-full">Add</button>
        </div>
    </div>
</form>
