@model IEnumerable<User>

<div class="flex justify-between items-center mt-5">
  <div>
    <h2>Instructor List</h2>
  </div>

  <div>
    <a asp-controller="Users" asp-action="Create" class="btn btn-primary">Add Instructor</a>
  </div>
</div>
<div class="divider"></div>

<div class="flex justify-center">
  <div class="w-[750px]">
    <table class="table text-center">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var user in Model)
        {
          if (user.RoleId == 2)
          {
            <tr class="hover">
              <th>@user.Id</th>
              <td>@user.FullName</td>
              <td>@user.Email</td>
              <td>
                <a asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-sm btn-warning">Edit</a>
                <button class="btn btn-sm btn-error" onclick="my_modal_@(user.Id).showModal()">
                  Delete
                </button>

              </td>
            </tr>
            @await Html.PartialAsync("_Delete", user)
          }
        }
      </tbody>
    </table>
  </div>
</div>